* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --background-color:rgba(11,112,164,255);
  --white: #fff;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-color);
  color: var(--white);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
  background-color: #39a7a7;
  height: 8rem;
}
#brand a {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}
#navbarSupportedContent ul li a {
  color: var(--white);
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
#navbarSupportedContent ul li a:hover {
  color: #64ffda;
  transform: translateY(-0.2rem);
}
#main {
  text-align: center;
  position: relative;
  padding: 10rem 3rem;
}
#main p {
  font-weight: bold;
  font-size: 2rem;
  color: #64ffda;
}
#main h1 {
  font-weight: bold;
  color: #ccd6f6;
  text-transform: uppercase;
  font-size: 8rem;
}
#main span,
.card span {
  color: #cdb400;
}
#main h6 {
  color: #ccd6f6;
  font-size: 2rem;
}
#main .card {
  width: 100%;
  background-color: transparent;
  margin: 5rem 0;
  padding: 3rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
  border-bottom-right-radius: 5rem;
  border-top-left-radius: 5rem;
}
#main .card p {
  color: #eeeeee;
  font-size: 1.5rem;
}
#about {
  position: relative;
  margin-top: 10rem;
  padding: 10rem 3rem;
}
.responsive {
  width: 100%;
  height: auto;
  border: 1px solid #cdb400;
  border-bottom-left-radius: 3rem;
  box-shadow: 0.7rem 0.7rem 0.7rem rgba(0, 0, 0, 0.7);
}
.vline {
  border-left: 5px solid #cdb400;
  height: 3rem;
}
#about .card {
  width: 100%;
  background-color: transparent;
  margin: 1rem 0;
  padding: 3rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  font-size: 1.5rem;
}
#about a {
  width: 20rem;
  height: 4rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
#about .alignbtn {
  text-align: center;
  margin: 5rem 0;
}
#education {
  position: relative;
  margin-top: 10rem;
  padding: 10rem 3rem;
}
#me {
  padding: 4rem 3rem;
}
#me:hover {
  transform: scale(1.1);
}
#education .resume-wrap {
  display: flex;
}
#education .resume-wrap h1 {
  color: #cdb400;
  font-weight: bold;
  font-size: 3rem;
}
#education .resume-wrap span {
  color: #ccd6f6;
  font-size: 2rem;
}
#education .resume-wrap p {
  color: #eeeeee;
  font-size: 1.5rem;
}
#skills {
  position: relative;
  margin-top: 10rem;
  padding: 10rem 3rem;
}
.skills {
  margin: 5rem auto;
  text-align: center;
}
.skills .imageicons img {
  margin: 3rem 5rem;
  transition: all 0.3s ease-in-out;
}
.skills .imageicons img:hover {
  transform: translateY(-0.2rem);
}
#projects {
  margin-top: 10rem;
  position: relative;
  padding: 10rem 3rem;
}
.project {
  margin: 8rem 0;
}
#projects .project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#projects .project .card {
  padding: 5rem 1rem;
  background-color: transparent;
  border-bottom-left-radius: 5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
  width: 35rem;
  font-size: 1.5rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
#projects .project .card:hover {
  transform: translateY(-0.5rem);
  background-color: #cdb400;
  color: #000;
}
.project a {
  text-decoration: none;
  color: #ccd6f6;
}
.project .card-title {
  font-weight: bold;
  font-size: 2rem;
  color: #39a7a7;
}
#contact {
  position: relative;
  margin-top: 10rem;
  margin-bottom: 15rem;
  padding: 10rem 3rem;
}
#contact p {
  font-size: 1.5rem;
  text-align: center;
  margin: 5rem 0;
  color: #ccd6f6;
}
#contact .contactlinks {
  text-align: center;
}
#contact .contactlinks ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#contact .contactlinks ul li {
  font-size: 2rem;
  margin: 2rem;
  transition: all 0.3s ease-in-out;
}
#contact .contactlinks ul li a {
  color: #000;
  background-color: #cdb400;
  border-radius: 1rem;
  padding: 1.5rem;
}
#contact .contactlinks ul li:hover {
  transform: translateY(-0.5rem);
}
footer {
  text-align: center;
  height: 5rem;
}
footer a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #64ffda;
}
footer a:hover {
  color: #39a7a7;
}
.card_width_ad{
  min-height: 500px;
  max-height: 500px;
  overflow-y:scroll;
}
  
@media only screen and (max-width: 600px) {
  #projects .project .card,
  #main .card,
  #about .card {
    width: 100%;
    height: auto;
  }
  html {
    font-size: 40%;
  }
}
@media only screen and (max-width: 250px) {
  html {
    font-size: 25%;
  }
  #main h1 {
    font-size: 5rem;
  }
  #about .alignbtn a {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  #projects .project .card,
  #main .card,
  #about .card {
    width: 100%;
    height: auto;
  }
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 200px) {
  html {
    font-size: 20%;
  }
}
@media only screen and (max-width: 990px) {
  #navbarSupportedContent {
    background-color: #0a192f;
    margin: 2.4rem;
  }
  #navbarSupportedContent ul {
    display: inline-block;
  }
  #navbarSupportedContent ul li {
    display: inline-block;
  }
}
